<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Airports App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>42D7EBAA1E67BCF2003ADDC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42D7EBC01E67BCF4003ADDC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42D7EBCB1E67BCF4003ADDC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
